<div class="ubar" id="top">
  <div class="container ubar__inner">
    <p class="ubar__alert">
      <span class="ubar__msg ubar__msg--full"><strong>Lost your supply?</strong> Call our 24-hour emergency hotline</span>
      <span class="ubar__msg ubar__msg--short"><strong>24hr Emergency</strong></span>
      <a class="ubar__tel" href="tel:{{ site.tel }}" aria-label="Call the 24-hour emergency line on {{ site.phone }}">{{ site.phone }}</a>
    </p>
  </div>
</div>
